# FastAPI and server dependencies
fastapi[standard]==0.113.0
pydantic==2.8.0
uvicorn==0.34.0
pydantic-settings==2.8.1  
sqlmodel==0.0.24

#Aws and bedrock dependencies
boto3==1.37.19

# Utilities
python-dotenv==1.0.1
uuid==1.30

# Security
passlib==1.7.4
bcrypt==3.2.1

# LangChain dependencies
langchain==0.3.22
langchain-core==0.3.50
langchain-anthropic==0.2.0
langchain-community==0.3.20
langgraph==0.3.21

# Database dependencies
psycopg2-binary==2.9.10
alembic==1.15.2
sqlalchemy==2.0.40
sqlalchemy-utils==0.41.2